__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
env/
venv/
gestor_env/
venvPrecios/

# Archivos de Selenium
selenium.log
selenium-screenshot*.png
chrome114/

# Archivos temporales
*.tmp
*.temp
*.log
*.bak

# CSV generados
*.csv

# Media
media/avatares/*
!media/avatares/default.jpg

# Cache de apiPrecios
apiPrecios/__pycache__/

# Chrome
chrome-win64
chromedriver.exe