services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    expose:
      - "3306"
    ports:
      - "127.0.0.1:3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 30
    networks:
      - web

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    expose:
      - "6379"
    networks:
      - web

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    expose:
      - "8000"
    command: >
      sh -c " python manage.py migrate && python manage.py collectstatic --noinput && gunicorn gestor_videojuegos.wsgi:application --bind 0.0.0.0:8000 "
    volumes:
      - ./backend:/app
      - media_data:/app/media
    networks:
      - web

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./cloudflare/certs:/etc/nginx/certs:ro
      - media_data:/var/www/media:ro
    depends_on:
      - backend
    networks:
      - web

volumes:
  db_data:
    name: proyecto_db_data
    external: true
  redis_data:
    name: proyecto_redis_data
    external: true
  media_data:


networks:
  web:
    driver: bridge
