name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      db:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: dummy_db
          MYSQL_USER: dummy_user
          MYSQL_PASSWORD: dummy_password
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
        ports:
          - 3306:3306
      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379

    defaults:
      run:
        working-directory: ./backend

    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.10', '3.11', '3.12']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-dev default-libmysqlclient-dev build-essential pkg-config
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      env:
        IGDB_CLIENT_ID: "dummy_client_id"
        IGDB_CLIENT_SECRET: "dummy_client_secret"
        DJANGO_SECRET_KEY: "dummy_secret_key"
        MYSQL_DATABASE: "dummy_db"
        MYSQL_USER: "dummy_user"
        MYSQL_PASSWORD: "dummy_password"
        DB_HOST: "127.0.0.1"
        REDIS_HOST: "127.0.0.1"
      run: |
        python manage.py test
